<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
    </head>    
<body>

<div id="page">

    <div class="topheader">
      <div class="grid">
          <div class="flex-container flex-flex-end">  
              <div class="cell-1-3">
                <div class="menutop">
                        <ul>
                            <li>
                               <a href="#">
                                  About-us
                                </a>
                            </li>
                            <li>
                              <a href="#">
                                Shop
                               </a>
                           </li>
                           <li>
                            <a href="#">
                              Contact
                             </a>
                         </li>
                        </ul>
                  </div>
                <ul class="social">
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="far fa-envelope"></i>
                    </a>
                  </li>
                  

                   
                  </ul>
              </div>
          </div>
      </div>
    </div>
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
                  <li class=" active ">
                    <a href="/" class=""><span style="background-image:url()"> Trang chủ       
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                          <span style="background-image:url()"> Giới thiệu</span>
                            </a>
                      <ul class="submnu1" style="display: none;">
                        <li class="">
                          <a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                        </li>
                        <li class="">
                          <a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                        </li>
                    </ul>
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Dịch vụ    
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Sản phẩm 
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Tin tức nổi bật
                  </li>
                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Liên hệ
                  </li> 
              </ul>
              <div class="icon-search">
            
                <div class="search-pc">
                    <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                           <div class="btn-search">
                            <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                           </div>
                    </form>
                    
                </div>
                <script type="text/javascript">

                    $(".submit-search-pc").click(function () {
                        if ($("#qr_search").val() != "")
                            $('#searchformtab').submit();
                        return false;

                    });

                    $(document).ready(function () {
                        $(".search-icon").click(function () {
                            $(".search-pc").stop().slideToggle("fast");
                            return false;
                        });
                    });
                </script>  	
                <div class="c"></div>
            </div>
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
      
      <!-- slideshow -->
      <div class="swiper-container" id="slide_home">
    
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slidehome">
              <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
           
            </div>
        </div>
        <div class="swiper-slide">
          <div class="slidehome">
            <img class="hide-on-mobile" src="/uploaded/slideshow/item1.png" alt="" style="width: 100%" />
          </div>
        </div>
      
      </div>
      <div class="swiper-pagination"></div>
      </div>
      <script>
        $(function () {
          var swiper_slide_home = new Swiper("#slide_home", {
            loop: true,
            slidesPerView: 1,
            autoHeight:true,
            autoplay: {
              simulateTouch: true,
              delay: 5000000,
              disableOnInteraction: false,
            },
            spaceBetween: 0,
            // navigation: {
            //   nextEl: ".swiper-button-next",
            //   prevEl: ".swiper-button-prev",
            // },
            pagination: {
              el: ".swiper-pagination",
              clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
          });

          $("#slide_home").on("mouseover", function () {
            swiper_slide_home.autoplay.stop();
          });
          $("#slide_home").on("mouseout", function () {
            swiper_slide_home.autoplay.start();
          });
        });
      </script>
      <!-- end slideshow -->
    <div class="homeinfo-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
       <div class="grid">
        <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
              <div class="swiper-container homeinfo-top" >
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="homeinfo-item">
                          <iframe width="100%" height="400" src="https://www.youtube.com/embed/pI1-Sa-bOV0?si=pxODgJ-mNXnupxb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          <div class="creatdate">
                            21 sep
                          </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homeinfo-item">
                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/pI1-Sa-bOV0?si=pxODgJ-mNXnupxb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                         
                      </div>
                  </div>
                  </div>
                </div>
                <div class="c10"></div>
                
                <div class="swiper-container homeinfo-thumbs">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="pro-img-thumb">
                          <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div> <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="pro-img-thumb">
                        <img src="/uploaded/gioi-thieu/item1.jpg" alt="">
                      </div>
                    </div>
                 </div>
                 <div class="swiperinfo-button-next slide-btn-next">
                  <i class="far fa-long-arrow-right"></i>
             </div>
                 <div class="swiperinfo-button-prev slide-btn-prev">
                      <i class="far fa-long-arrow-left"></i>
                 </div>
              </div>
              <script>
                $(function () {
                    var galleryTop = new Swiper('.homeinfo-top', {
                        spaceBetween: 1,
                       
                    });
                    var galleryThumbs = new Swiper('.homeinfo-thumbs', {
        
                        spaceBetween: 20,
        
                        slidesPerView: 5,
        
                        navigation: {
                            nextEl: '.swiperinfo-button-next',
                            prevEl: '.swiperinfo-button-prev',
                        }
        
                    });
        
                    $('.homeinfo-thumbs .swiper-slide').click(function () {
                        galleryTop.slideTo($(this).index(), 400, false);
                    });
        
        
                    galleryTop.params.control = galleryThumbs;
                    galleryThumbs.params.control = galleryTop;
        
                    
                });
            </script> 
            </div>
            <div class="cell-1-2 tab-cell-1-1">
                <div class="homecat-title-sm">
                    About us
                </div>
                <div class="homecat-title">
                  HAIR VIETNAM FACTROY
                </div>
                <div class="c20"></div>
                Hairvietnam is one of the most reliable hair manufacturers in Vietnam and Southeast Asia. The company was founded in early 1990, two decades ago. In the beginning, we were only a small factory, we produced hair extensions products for many ecommercial companies to export worldwide. As time goes by, the company has grown rapidly in the hair industry. And finally in 2008, we were able to sell hair separately and has been having customers comes from all over the world.
                <br>
                Hairvietnam is one of the most reliable hair manufacturers in Vietnam and Southeast Asia. The company was founded in early 1990, two decades ago. In the beginning, we were only a small factory, we produced hair extensions products for many ecommercial companies to export worldwide.
            </div>
        </div>
      </div>  
    </div>
    <div class="homeproduct-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="homecat-title text-center">
            BEST SELLING PRODUCTS
          </div>
          <div class="c30"></div>
         
          <div class="swiper-container slider-product">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item1.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                    
                    
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                    
                    
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item3.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                    
                    
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item4.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                    
                    
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item1.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="slide-btn-next homeproduct-button-next"><i class="fas fa-chevron-right"></i></div>
            <div class="slide-btn-prev homeproduct-button-prev"><i class="fas fa-chevron-left"></i></div>
           
          </div>
          <script>
            $(function () {
              var slideproduct = new Swiper(".slider-product", {
          
              loop: true,
              
            
              spaceBetween: 20,
              autoplay:true,
              pagination: {
                
                clickable: true,
              },
              navigation: {
                      nextEl: '.homeproduct-button-next',
                      prevEl: '.homeproduct-button-prev'
                  },
              breakpoints: {
                    // when window width is >= 320px
                    320: {
                      slidesPerView: 1,
                      spaceBetween: 20
                    },
                    // when window width is >= 480px
                    768: {
                      slidesPerView: 2.5,
                      spaceBetween: 30
                    },
                    // when window width is >= 640px
                    1040: {
                      slidesPerView: 3,
                      spaceBetween: 40
                    },
                    1600: {
                      slidesPerView: 4,
                      spaceBetween: 20
                    }
                  }
                })
            
    
            });
          </script>
        </div>
       

      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
    </div>
    <div class="homeservice-wrapper">
      <div class="c20 hide-on-mobile"></div>
      <div class="c30"></div>
        <div class="grid">
            <div class="homecat-title text-center">
              CATEGORY PRODUCT
            </div>
            <div class="c30"></div>
            <div class="flex-container">
              <div class="cell-1-5 tab-cell-1-1 homeservice-item">
                  <div class="">
                      <a href="#" class="img-shine"> <img src="/uploaded/dichvu/item1.jpg" alt=""></a>
                  </div>
                  <div class="homeservice-name">
                      <a href="#"> Hair extensions</a>
                  </div>
              </div>
              <div class="cell-1-5 tab-cell-1-1 homeservice-item">
                <div class="">
                    <a href="#" class="img-shine"> <img src="/uploaded/dichvu/item1.jpg" alt=""></a>
                </div>
                <div class="homeservice-name">
                    <a href="#"> Hair extensions</a>
                </div>
            </div>
            <div class="cell-1-5 tab-cell-1-1 homeservice-item">
              <div class="">
                  <a href="#" class="img-shine"> <img src="/uploaded/dichvu/item1.jpg" alt=""></a>
              </div>
              <div class="homeservice-name">
                  <a href="#"> Hair extensions</a>
              </div>
          </div>
          <div class="cell-1-5 tab-cell-1-1 homeservice-item">
            <div class="">
                <a href="#" class="img-shine"> <img src="/uploaded/dichvu/item1.jpg" alt=""></a>
            </div>
            <div class="homeservice-name">
                <a href="#"> Hair extensions</a>
            </div>
        </div>
        <div class="cell-1-5 tab-cell-1-1 homeservice-item">
          <div class="">
              <a href="#" class="img-shine"> <img src="/uploaded/dichvu/item1.jpg" alt=""></a>
          </div>
          <div class="homeservice-name">
              <a href="#"> Hair extensions</a>
          </div>
          </div>
          </div>
        </div>
       

      <div class="c20 hide-on-mobile"></div>
      <div class="c30"></div>

    </div>
    <div class="homeproduct-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="homecat-title text-center">
            BEST SELLING PRODUCTS
          </div>
          <div class="c30"></div>
          <div class="flex-container">
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
          </div>
          <div class="btn-all">
              <a href="#">See all</a>
          </div>
        </div> 
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
    </div>
    <div class="poster-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
        <a href="#"> <img src="/uploaded/files/poster1.png" alt=""></a>
    </div>
    <div class="homeproduct-wrapper">
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
        <div class="grid">
          <div class="homecat-title text-center">
            BEST SELLING PRODUCTS
          </div>
          <div class="c30"></div>
          <div class="flex-container">
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
              <div class="cell-1-4 tab-cell-1-1">
                <div class="product-item">
                  <div class="product-image">
                        <a href="#" class="">
                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                  </a>
                  </div>
                  <div class="product-item__content">
                    <h2 class="product-item__name"> 
                      <a href="#" class="text-line-1">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      </a>
                      
                    </h2>
                  </div>
                </div>
              </div>
          </div>
          <div class="btn-all">
              <a href="#">See all</a>
          </div>
        </div> 
      <div class="c30"></div>
      <div class="c20 hide-on-mobile"></div>
    </div>
    <div class="homeleader-wrapper">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
          <div class="grid">
            <div class="homecat-title text-center">
              OUR STAFF

            </div>
            <div class="c30"></div>
              <div class="flex-container">
                  <div class="cell-1-4 tab-cell-1-1 homeleader-item">
                      <a href="#">
                        <img src="/uploaded/lanh-dao/item1.png" alt="">
                      </a>
                      <div class="homeleader-name">
                          <a href="#">MS Davis(Boss)</a>  <i class="fab fa-whatsapp"></i>
                      </div>
                    
                  </div>
                  <div class="cell-1-4 tab-cell-1-1 homeleader-item">
                    <a href="#">
                      <img src="/uploaded/lanh-dao/item2.jpg" alt="">
                    </a>
                    <div class="homeleader-name">
                        <a href="#">MS Davis(Boss)</a>  <i class="fab fa-whatsapp"></i>
                    </div>
                  
                </div>
                <div class="cell-1-4 tab-cell-1-1 homeleader-item">
                  <a href="#">
                    <img src="/uploaded/lanh-dao/item3.png" alt="">
                  </a>
                  <div class="homeleader-name">
                      <a href="#">MS Davis(Boss)</a>  <i class="fab fa-whatsapp"></i>
                  </div>
                
              </div>
              <div class="cell-1-4 tab-cell-1-1 homeleader-item">
                <a href="#">
                  <img src="/uploaded/lanh-dao/item1.png" alt="">
                </a>
                <div class="homeleader-name">
                    <a href="#">MS Davis(Boss)</a>  <i class="fab fa-whatsapp"></i>
                </div>
              
            </div>
              </div>
          </div>
          <div class="c30"></div>
          <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>

      </div>
      <div class="homefeedback-wrapper">
        <div class="c30"></div>
       <div class="c20 hide-on-mobile"></div>
          <div class="grid">
            <div class="homecat-title text-center">
                customer Voices
            </div>
            <div class="c30"></div>
              <div class="flex-container">
                  <div class="cell-1-5 tab-cell-1-1 homefeedback-item">
                        <img style="width: 100%; height: 370px;" src="/uploaded/feedback/item1.jpg" alt="">
                  </div>
                  <div class="cell-1-5 tab-cell-1-1 homefeedback-item">
                    <img style="width: 100%; height: 370px;" src="/uploaded/feedback/item2.jpg" alt="">
                  </div>
                  <div class="cell-1-5 tab-cell-1-1 homefeedback-item">
                    <img style="width: 100%; height: 370px;" src="/uploaded/feedback/item3.jpg" alt="">
                  </div>
                  <div class="cell-1-5 tab-cell-1-1 homefeedback-item">
                    <img style="width: 100%; height: 370px;" src="/uploaded/feedback/item4.jpg" alt="">
                  </div>
                  <div class="cell-1-5 tab-cell-1-1 homefeedback-item">
                    <img style="width: 100%; height: 370px;" src="/uploaded/feedback/item5.jpg" alt="">
                  </div>
              </div>
          </div>
        <div class="c30"></div>
         <div class="c20 hide-on-mobile"></div>
      </div>   
      <div class="homenews-wrapper">
      
        <div class="c20 hide-on-mobile"></div>
        <div class="c30"></div>
            <div class="grid">
              <div class="homecat-title text-center">
               Blog 
              </div>
              <div class="c30"></div>
               <div class="homenews">
                <div class="swiper-container slider-homenews">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                        <div class="creatdate">
                          21 sep
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item2.jpg" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                        <div class="creatdate">
                          21 sep
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item3.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="homenews-item__content">
                            <h2 class="homenews-item__name"> 
                              <a href="#" class="text-line-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                              </a>
                              
                            </h2>
                            
                            <div class="text-line-5">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                            </a>
                            </div>
                          </div>
                      </div>
                      
                      <div class="creatdate">
                        21 sep
                      </div>
                    </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item2.jpg" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                        <div class="creatdate">
                          21 sep
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide"> 
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item1.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <h2 class="homenews-item__name"> 
                            <a href="#" class="text-line-2">
                              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                            </a>
                            
                          </h2>
                          
                          <div class="text-line-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                          </a>
                          </div>
                        </div>
                        <div class="creatdate">
                          21 sep
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="homenews-item">
                        <a href="#" class="">
                          <img style="width:100%" src="/uploaded/tin-tuc/item3.png" alt="">
                        </a>
                        <div class="homenews-item__content">
                          <div class="homenews-item__content">
                            <h2 class="homenews-item__name"> 
                              <a href="#" class="text-line-2">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus, facilis explicabo facere culpa, quibusdam quidem fuga possimus nam numquam quis quam. Iste earum eveniet nobis rerum quibusdam sunt necessitatibus voluptatem.
                              </a>
                              
                            </h2>
                            
                            <div class="text-line-5">
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem nemo assumenda fuga hic corrupti nihil quae labore amet iste quos facilis ipsum quam, tempora, vitae ad enim velit quis earum!
                            </a>
                            </div>
                          </div>
                      </div>
                      </div>
                    </div>
                    
                  </div>
                
                </div>
                <div class="slide-btn-next homenews-button-next"><i class="fas fa-chevron-right"></i></div>
                <div class="slide-btn-prev homenews-button-prev"><i class="fas fa-chevron-left"></i></div>
                  
               </div>
            </div>
            <div class="c30"></div>
        <script>
          $(function () {
            var slideproduct = new Swiper(".slider-homenews", {
        
            loop: true,
            
          
            spaceBetween: 20,
            autoplay:true,
            pagination: {
              
              clickable: true,
            },
            navigation: {
                    nextEl: '.homenews-button-next',
                    prevEl: '.homenews-button-prev'
                },
            breakpoints: {
                  // when window width is >= 320px
                  320: {
                    slidesPerView: 1,
                    spaceBetween: 20
                  },
                  // when window width is >= 480px
                  768: {
                    slidesPerView: 2.5,
                    spaceBetween: 30
                  },
                  // when window width is >= 640px
                  1040: {
                    slidesPerView: 3,
                    spaceBetween: 40
                  },
                  1600: {
                    slidesPerView: 3,
                    spaceBetween: 20
                  }
                }
              })
          
  
          });
        </script>
      </div>
      
          
    <!-- end content -->

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
      <div class="footer-main">
        <div class="grid">

          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                HAIR VIETNAM – BE TO QUEEN
             </div>
             
              <div class="textwidget"><p><em><strong>– Our factory</strong></em>: Dong Tho, Yen Phong, Bac Ninh, Viet Nam</p>
                <p><em><strong>– Our office:</strong></em> No. 112 Tran Vy, Nam Tu Liem District, Hanoi City</p>
                <p>Email: Factoryhairvietnam@gmail.com</p>
                <p>Phone: +84 367.811.999</p>
                </div>
              </div>
<!--               
                <ul class="footer-social">
            
                  <li class="facebook  hvr-float">
                    <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="youtube  hvr-float">
                    <a href="#" class="footer-social__item">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                 
                  <li class="instagram  hvr-float">
                    <a href="" class="footer-social__item">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                 
                </ul> -->
               
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                INFOMATION
              </div>
             
              <ul class="menuboxfooter" id="boxcol5">
                <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
                <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
                <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
                </ul>

              </div>
          </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  PRODUCTS
                </div>


              <div class="c5 hide-on-tab"></div>

              <ul class="menuboxfooter" id="boxcol5">
              <li><a href="/gioi-thieu-chung/"> Giới thiệu chung</a></li>
              <li><a href="/tam-nhin-chien-luoc/"> Tầm nhìn chiến lược </a></li>
              <li><a href="/gia-tri-cot-loi/"> Giá trị cốt lõi</a></li>
              </ul>
              <div class="c10"></div>

              </div>

          </div>
          
            <div class="footer-block">
              <div class="footer-title footer-title-mobile" rel="ct">
                Follow us on Instagram
              </div>
            
              <div class="is-divider small">

              </div>
              <div class="textwidget custom-html-widget">
                <div data-mc-src="0bbd2941-4936-4657-9173-1e6dd0161102#null">

                </div>       
<script src="https://cdn2.woxo.tech/a.js#6321ef89d5afa7d5c3d66741" async data-usrc>
</script>
            </div>
              
            
        </div>
  
        <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 companys
          </div>
        </div>
           
        </div>
      </div>

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
